<div class="home">
  <div class="container">
    <h3 class="title">
      Join the Fun: Play Our Latest Games Today on <span>Games Monsters</span>
    </h3>
    <p class="subtitle">
      From action-packed to brain-teasing, we've got it all
    </p>
    <br />
    <div class="topRate mb-5">
      <div class="topRateTitle d-flex">
        <i class="fa-solid fa-gamepad"></i>
        <h5>Most Popular</h5>
      </div>
      <div class="fram">
        <owl-carousel-o [options]="customOptions" class="slider">
          <ng-container *ngFor="let item of pupularGames">
            <ng-template carouselSlide >
              <div class="card text-bg-dark image" (click)="getDetails(item.id)">
                <img [src]="item.thumbnail" class="card-img" alt="game image">
                <div class="card-img-overlay d-flex flex-column justify-content-end">
                  <div class="title">
                    <h5 class="card-title text-light">{{item.title}}</h5>
                    <p class="card-text text-white-50">{{item.short_description | limitWord:4}}</p>
                  </div>
                </div>
              </div>
              </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    <div class="AllGames">
      <div class="allGameTitle d-flex">
        <i class="fa-solid fa-puzzle-piece"></i>
        <h5>All {{platform | titlecase}} Games</h5>
      </div>
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let item of getGames.slice(0,moreGame) | searchFilter:gameName">
          <div class="card" style="width: 100%; margin-bottom: 20px;" (click)="getDetails(item.id)">
            <img [src]="item.thumbnail" class="card-img-top" alt="game image" />
            <div class="card-body">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">
                {{item.short_description | limitWord:30}}
              </p>
              <div class="category d-flex">
                <button type="button" class="btn btn-secondary" disabled>{{platform | titlecase}} Game</button>
                <button type="button" class="btn btn-secondary" disabled>{{item.genre}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary" (click)="getMoreGame()">Show More</button>
      </div>
      <button class="arrow" [class.disable]="disable" (click)="goToTop()" [disabled]="disable">
        <i class="fa-solid fa-arrow-up-long" (click)="goToTop()"></i>
      </button>
    </div>
  </div>
</div>
