<div class="login">
  <div class="card">
    <img src="./assets/Logo.jpg" class="card-img" alt="..." />
    <div class="card-body">
      <h2 class="card-title title">Welcome Back...!</h2>
      <hr />
      <div class="card-text">
        <form class="login-form" [formGroup]="form">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              formControlName="email"
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              formControlName="password"
            />
            <label for="floatingPassword">Password</label>
            <p class="parRegisterLink">
              <a class="registerLink" routerLink="/register"
                >I need to create an account</a
              >
            </p>
          </div>
          <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!form.valid">
            <div class="spinner-border text-light" role="status" *ngIf="spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span *ngIf="!spinner">Login</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
